CONFIG_DYNAMIC_DEBUG=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_SND_AUDIO_GRAPH_CARD2=y
CONFIG_SND_DEBUG=y
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SOC_SPDIF=y
CONFIG_SND_USB_AUDIO_MIDI_V2=y
CONFIG_SND_VERBOSE_PRINTK=y
CONFIG_USB_CONFIGFS_F_MIDI2=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_SND_AUDIO_GRAPH_CARD2_CUSTOM_SAMPLE=y
CONFIG_SND_CTL_DEBUG=y
CONFIG_SND_DEBUG_VERBOSE=y
# CONFIG_SND_JACK_INJECTION_DEBUG is not set
CONFIG_SND_PCM_XRUN_DEBUG=y
CONFIG_SND_SEQ_DEVICE=y
CONFIG_SND_SEQ_DUMMY=m
CONFIG_SND_SEQ_MIDI=m
CONFIG_SND_SEQ_MIDI_EVENT=m
CONFIG_SND_SEQ_UMP=y
CONFIG_SND_SEQ_UMP_CLIENT=m
CONFIG_SND_UMP=y
CONFIG_SND_UMP_LEGACY_RAWMIDI=y
# CONFIG_SND_VIRMIDI is not set
# CONFIG_TEST_DYNAMIC_DEBUG is not set
CONFIG_USB_F_MIDI2=y
